
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="inner-wrap">
			<div class="logo-info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">Дари цветы</a>
				</div>
				<div class="callback-wrap">
					<a href="" class="btn">Связаться с нами</a>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li><a href="">Букеты</a></li>
						<li><a href="">Композиции в коробке</a></li>
						<li><a href="">Корзины с цветами</a></li>
						<li><a href="">Шары</a></li>
						<li><a href="">Конфеты и топперы</a></li>
						<li><a href="">Воросы - ответы</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Контакты</div>
					<div class="cnt-wrap">
						<a href="tel:89253430542" class="link-phone">+7 (925) 343-05-42</a>
					</div>
					<div class="cnt-wrap">
						<a href="mailto:daricvetyzakazy@gmail.com" class="link-email">daricvetyzakazy@gmail.com</a>
					</div>
					<ul class="menu menu-small">
						<li><a href="">Корпоративным клиентам</a></li>
						<li><a href="">Политика конфиденциальности</a></li>
						<li><a href="">Публичная оферта</a></li>
						<li><a href="">Уход за букетом</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="info-inner-wrap">
				<div class="soc-inner-wrap">
					<div class="footer-title">Следите за нами в&nbsp;Вконтакте и в&nbsp;Телеграм</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-vk.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tg.svg" alt="">
						</a>
					</div>
				</div>
				<div class="links-inner-wrap">
					<div class="footer-title">Мы на других площадках</div>
					<div class="links-wrap">
						<a href="" class="elm-ico">
							<img src="./img/icons/map-google.svg" alt="">
						</a>
						<a href="" class="elm-ico">
							<img src="./img/icons/map-gis.svg" alt="">
						</a>
						<a href="" class="link-logo">
							<img src="./img/icons/map-z.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel">
		<div class="inner-wrap">
			<p>© 2021, Дари Цветы - Букеты с доставкой в Подольске</p>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--main-buttons-wrap-->
<div class="main-buttons-wrap">
	<a href="" class="btn-action-ico button-message">
		<img src="./img/icons/ms-viber.svg" alt="">
	</a>
	<a href="" class="btn-action-ico button-message">
		<img src="./img/icons/ms-phone.svg" alt="">
	</a>
</div><!--/main-buttons-wrap-->