
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo" data-title="ДЦ">
				<span class="logo-title">Дари цветы</span>
			</a>
		</div>
		<div class="menu-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu">Каталог цветов</a>
						<ul>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu01.svg" alt="">
									</span>
									<span class="button-title">Новый год</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu02.svg" alt="">
									</span>
									<span class="button-title">Букеты</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu03.svg" alt="">
									</span>
									<span class="button-title">Розы</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu04.svg" alt="">
									</span>
									<span class="button-title">Композиции в коробке</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu06.svg" alt="">
									</span>
									<span class="button-title">Корзины с цветами</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu07.svg" alt="">
									</span>
									<span class="button-title">Шары</span>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu-catalog">
									<span class="button-ico">
										<img src="./img/icons/menu08.svg" alt="">
									</span>
									<span class="button-title">Конфеты и топперы</span>
								</a>
							</li>
						</ul>
					</li>
					<li><a href="" class="btn-menu">Оплата</a></li>
					<li><a href="" class="btn-menu">Доставка</a></li>
					<li><a href="" class="btn-menu">Уход за букетом</a></li>
					<li><a href="" class="btn-menu">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap action-phone">
				<a href="" class="elm-ico">
					<img src="./img/icons/header-phone.svg" alt="">
				</a>
			</div>
			<div class="action-wrap action-shedule">
				<a href="" class="elm-ico">
					<img src="./img/icons/header-shedule.svg" alt="">
				</a>
				<div class="action-title">Ежедневно, 08:00 — 22:00</div>
			</div>
			<div class="action-wrap action-search">
				<a href="" class="elm-ico">
					<img src="./img/icons/header-search.svg" alt="">
				</a>
			</div>
			<div class="action-wrap action-cart">
				<a href="" class="elm-ico">
					<img src="./img/icons/header-cart.svg" alt="">
				</a>
				<div class="action-title">2 - 12000 ₽</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->

<!--main-action-box-->
<div class="main-action-box cnt-section">
	<div class="inner-wrap">
		<div class="action-title">Премиум букеты с доставкой по Москве</div>
	</div>
</div><!--/main-action-box-->